body {
  background-color: #0099ff;
  background-image:url("http://sugarchalet.files.wordpress.com/2012/11/blog-background1.jpg");
  color: black;
}

p {
  text-indent: 25px;
}


a:hover {
  color: voilet;
}

a:visited {
  color:black;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: Times, serif;
  color: black;
  position: absolute;
  top: 75px;
  width: 100%;
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  color: 000066;
  text-align: center;
  font-size: 30;
}

#new-title {
  position: absolute;
  top: 190px;
  border: none;
  font-size: 35px;
  font-family: serif;
  left: 40px;
  color:;
}

#portrait {
  top: 300px;
  left: 40px;
  height: 150px;
  width: 140px;

}

.Article {
  font-family: Times;
  border: 5px solid blue;
  background-color: #ffffcc;
  height: auto;
  width: 65%;
  position: relative;
  top: 260px;
  left: 19%;
  margin-bottom: 200px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  ;
}

.Article p {
  text-align: left;
}

#blog-name {
  position: absolute;
  top: 40px;
  left: 45px;
  color: blue;
}

#sky {
  position: fixed;
  top: 0px
  right: 5px;
  width: 98.5%;
  margin: 1px;
}

#new-date {
  position: absolute;
  top: 170px;
  left: 390px;
  border: none;
  font-size: 20px;
}

.icon {
  height: 20px;
  width: 25px;
}

.center {
  text-align: center;
}

#contact_links {
  float: left;
  height: 200px;
  width 60px;
  position: fixed;
  top: 200px;
  left: 30px;
  color:white;
}

#fixed {
  position: fixed;
  left: 0px;
  top: 450px;
  height: 200px;
  width 60px;
}

.back {
  marin:550 50 100 150;
  font-familt:Arial;
  font-size:25px;
  font-color:black;
  border-top:2px solid black;
}

.navbar {
    /*width: 80%;*/
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
}

.outside_nav {
    width: 160px;
    padding-left: 46px;
    font-size: 1.3em;
}

.navbar-nav>li>.dropdown-menu {
    margin-left: 30px;
}

.dropdown-menu li {
    text-align: center;
}

ul.nav a:hover {
    color: blue !important;
    /*background-color: red !important;*/
}

.dropdown-menu a {
}