head {
    display: none;
}

body {
    background: #e4e1e2;
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -20px;
}

.navigation_bar {
    position: fixed;
    z-index: 3;
}

.navigation ul {
    overflow: hidden;
}

.navigation_bar #logo {
    position: fixed;
    width: 55px;
    background: url("http://i62.tinypic.com/v477ew.png");
    background-size: contain;
    z-index: 2;
    border: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nagigation_bar #logo.hover {
    cursor: pointer;
}

.navigation_bar .navigation_bar_button.first {
    margin-left: 55px;
}

.navigation_bar .navigation_bar_button.last {
    border: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navigation_bar .navigation_bar_button {
    float: left;
    position: relative;
    background-color: #fff;
    margin-left: 0;
    -webkit-transition: background-color, margin-left 0.5s;
    -moz-transition: background-color, margin-left 0.5s;
    -o-transition: background-color, margin-left 0.5s;
    transition: background-color, margin-left 0.5s;
}

.navigation_bar .navigation_bar_button:hover {
    background-color: blue;
}

.navigation_bar li {
    height: 55px;
    list-style-type: none;
}

.navigation_bar .navigation_bar_button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 22px 40px 0;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: blue;
    text-decoration: none;
    -webkit-transition: color;
    -moz-transition: color;
    -o-transition: color;
    transition: color;
}

.navigation_bar .navigation_bar_button a:hover {
    color: #fff;
}

.big_module {
    width: 60%;
    height: 400px;
    position: relative;
    float: left;
    color: black;
}

.big_module a {
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 25px;*/
}

.big_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
    color: black;
    margin: 0;
}

.big_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
    color: black;
    margin-top: -5px;
    margin-bottom: -5px;
}

.medium_module {
    width: 40%;
    height: 400px;
    padding: 0;
    float: left;
    color: black;
}

.medium_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    color: black;
}

.medium_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
    color: black;
}

.medium_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
    /*color: yellow;*/
    background:rgba(217, 123, 123, 0.7);
    color: black;
}

.small_module {
    width: 100%;
    height: 200px;
    position: relative;
    box-sizing: border-box;
    float: left;
    color: black;
}

.small_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.small_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
}

.small_module h3 {
/*    background: red;*/
    /*float: left;*/
    /*padding: 4px 12px;*/
    /*font-size: 20px;*/
    /*line-height: 30px;*/
    /*font-weight: bold;*/
    /*font-family: "Alegreya Sans";*/
/*    color: #fff;*/
    /*margin-top: -5px;*/
    /*margin-bottom: -5px;*/
}

.extra_small_module {
    width: 20%;
    height: 400px;
    position: relative;
    float: left;
    color: black;
}

.extra_small_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.extra_small_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
}

.extra_small_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

#about_me {
    background: url("http://i60.tinypic.com/25slrwh.jpg");
    background-size: cover;
/*    padding-top: 80px;*/
}

#about_me_text {
    width: 280px;
    padding-top: 10px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
    background:rgba(255,255,255,0.3);
}


#portfolio_1_text h3 {
    /*width: 280px;*/
    /*padding-top: 150px;*/
    font-family: Georgia;
    position: absolute;
    bottom: 10px;
    left: 340px;
    text-align: right;
    width: 80px;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_2_text h3 {
    /*width: 280px;*/
    /*padding-top: 150px;*/
    font-family: Georgia;
    position: absolute;
    bottom: 10px;
    left: 320px;
    text-align: left;
    /*width: 100px;*/
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_3_text h3 {
    font-family: Georgia;
    font-weight: bold;
    /*position: absolute;*/
    top: 70px;
    left: 20px;
    text-align: left;
    width: 25%;
    /*color: yellow;*/
    background:rgba(255,255,255,0.7);
}

#portfolio_4_text h3 {
    font-family: Georgia;
    font-weight: bold;
    text-align: left;
    width: 25%;
    /*color: yellow;*/
    background:rgba(255,255,255,0.7);
    margin-left: 300px;
    margin-top: 290px;
}

#portfolio_5_text h3, #portfolio_6_text h3 {
    width: 30%;
    padding-top: 10px;
    font-family: Georgia;
    position: absolute;
    bottom: 15px;
    left: 10px;
    text-align: center;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_1 {
    background: url("../img/twitter.png");
    background-size: 100%;
    /*background-position: center;*/
    /*background-color: red;*/
}

#portfolio_2 {
    background: url("../img/cinephiles.png");
    background-size: 125%;
    background-position: top;
    /*background-color: orange;*/
}

#portfolio_3 {
    background: url("../img/connect4.png");
    background-size: 150%;
    background-position: center;
    /*background-color: yellow;*/
}

#portfolio_4 {
    background: url("../img/interviewgarden.png");
    background-size: cover;
    background-position: left;
    /*background: green;*/
}

#portfolio_5 {
    background: url("../img/nevernote.png");
    background-size: 110%;
    background-position: top;
    /*background-color: blue;*/
}
#portfolio_6 {
    background: url("../img/craigslist.png");
    background-size: 110%;
    background-position: top;
    /*background-color: gray;*/
}

#gallery {
    background: url("../img/gallery.png");
    background-size: 103%;
}

#gallery_text h3 {
    width: 15%;
    padding-top: 5px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
    /*background-color: red;*/
    background:rgba(255,255,255,0.7);
}

#blog {
    background: url("../img/blog.png");
    background-size: 120%;
    background-position: center;
    /*background-repeat: no-repeat;*/
}

#blog_text h3 {
    width: 40%;
    padding-top: 5px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
/*    bottom: 25px;
    left: 25px;*/
    margin-top: 310px;
    margin-left: 80px;
    text-align: center;
    background:rgba(255,255,255,0.7);
    color: black;
}

/*Gallery Page*/
#gallery_body {
    width: 1200px;
    height: 1600px;
    background: url("../img/gallery.png");
    background-repeat: no-repeat;
}


/*About page*/
.about_text, #about_title {
    width: 80%;
    padding-left: 30px;
    /*text-align: center;*/
}

#about_page {
    background: url("../img/about.jpg");
    background-size: cover;
}