head {
    display: none;
}

body {
    background: #e4e1e2;
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation_bar {
    position: fixed;
    z-index: 3;
}

.navigation ul {
    overflow: hidden;
}

.navigation_bar #logo {
    position: fixed;
    width: 55px;
    background: url("http://i62.tinypic.com/v477ew.png");
    background-size: contain;
    z-index: 2;
    border: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nagigation_bar #logo.hover {
    cursor: pointer;
}

.navigation_bar .navigation_bar_button.first {
    margin-left: 55px;
}

.navigation_bar .navigation_bar_button.last {
    border: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navigation_bar .navigation_bar_button {
    float: left;
    position: relative;
    background-color: #fff;
    margin-left: 0;
    -webkit-transition: background-color, margin-left 0.5s;
    -moz-transition: background-color, margin-left 0.5s;
    -o-transition: background-color, margin-left 0.5s;
    transition: background-color, margin-left 0.5s;
}

.navigation_bar .navigation_bar_button:hover {
    background-color: blue;
}

.navigation_bar li {
    height: 55px;
    list-style-type: none;
}

.navigation_bar .navigation_bar_button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 22px 40px 0;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: blue;
    text-decoration: none;
    -webkit-transition: color;
    -moz-transition: color;
    -o-transition: color;
    transition: color;
}

.navigation_bar .navigation_bar_button a:hover {
    color: #fff;
}

.big_module {
    width: 60%;
    height: 400px;
    position: relative;
    float: left;
}

.big_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.big_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
}

.big_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

.medium_module {
    width: 40%;
    height: 400px;
    padding: 0;
    float: left;
}

.medium_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.medium_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
}

.medium_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

.small_module {
    width: 100%;
    height: 200px;
    position: relative;
    box-sizing: border-box;
    float: left;
}

.small_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.small_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
}

.small_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

.extra_small_module {
    width: 20%;
    height: 400px;
    position: relative;
    float: left;
}

.extra_small_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.extra_small_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin: 0;
}

.extra_small_module h3 {
/*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
/*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

#about_me {
    background: url("http://i60.tinypic.com/25slrwh.jpg");
    background-size: cover;
/*    padding-top: 80px;*/
}

#about_me_text, #portfolio_6_text {
    width: 280px;
    padding-top: 150px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
}


#portfolio_2_text, #portfolio_1_text, #portfolio_5_text, #portfolio_6_text {
    width: 280px;
    padding-top: 150px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
}

#portfolio_1 {
    /*background: url("http://fusecreates.com/wp-content/uploads/2011/12/Pinterest.jpg");*/
    background-color: red;
    background-size: cover;
}

#portfolio_2 {
    /*background: url("https://dl-web.dropbox.com/get/Screenshots/Screenshot%202014-12-22%2017.09.05.png?_subject_uid=18962626&w=AAAIclqy_FgkFRxKsbz7IP19WEIxqztS5NmbyZqJlIKEOg");*/
    background-color: orange;
    background-size: cover;
}

#portfolio_3 {
    /*background: url("https://dl-web.dropbox.com/get/Screenshots/Screenshot%202014-12-22%2017.11.08.png?_subject_uid=18962626&w=AAApx0LeslsEI9ldHak4YZZZApoOJuBPbHsXN5N5S5245Q");*/
    background-color: yellow;
    background-size: cover;
}

#portfolio_4 {
    /*background: url("https://dl-web.dropbox.com/get/Screenshots/Screenshot%202014-12-22%2017.11.08.png?_subject_uid=18962626&w=AAApx0LeslsEI9ldHak4YZZZApoOJuBPbHsXN5N5S5245Q");*/
    background: green;
    background-size: cover;
}

#portfolio_5 {
    /*background: url("https://dl-web.dropbox.com/get/Screenshots/Screenshot%202014-12-22%2017.11.08.png?_subject_uid=18962626&w=AAApx0LeslsEI9ldHak4YZZZApoOJuBPbHsXN5N5S5245Q");*/
    background-color: blue;
    background-size: cover;
}
#portfolio_6 {
    background-color: gray;
    background-size: cover;
}


#portfolio_1_text {
    width: 280px;
    padding-top: 150px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
}

#gallery {
    background: url("http://www.picturesnew.com/media/images/photography-wallpaper1.jpg");
    background-size: cover;
}

#gallery_text {
    width: 280px;
    padding-top: 150px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
}

#blog {
    background: url("https://dl-web.dropbox.com/get/Screenshots/Screenshot%202014-12-22%2017.15.30.png?_subject_uid=18962626&w=AAAN1ocrR3vHSDL6cJoNLlpiQOgRL-mBh0Mmumx0iHTqng");
    background-size: contain;
}

#blog_text {
    width: 280px;
    padding-top: 150px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
}

/*Gallery Page*/
#gallery_body {
    width: 1200px;
    height: 1600px;
    background: url("../img/gallery.png");
    background-repeat: no-repeat;
}
