body {
  max-width: 800px;
  min-width:  800px;
  margin: auto;
  margin-top: 20px;
}

.column {
 display:inline-block;
}

.column div {
  height:68px;
  width: 68px;
  border: 1px solid black;
  border-radius: 35px;
}

.grid6x7 {
    display:table;
    height:420px;
    width:490px;
    background-color: yellow;
}

.button_row {
  background-color: black;
}

.button_row button{
  height:70px;
  width: 70px;
  display: table-column-group;
  background-color: purple;
  float: left;
}
