/*-----------------------
----- Basic Styles -----
-------------------------*/

body{
	font-family: Raleway, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    color:#6e6e6e;
	overflow-x:hidden;
    background-color: #faf8f5;
}

a{
	color:#ec5e5b;
	text-decoration:none
}

a:hover,a:focus{
	color:#f58027;
	text-decoration:underline
}

a:focus,
.btn:focus {
	outline: none;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
@font-face {
    font-family: "caviar-dreams";
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 22px;
    text-transform: uppercase;
    src: url("../fonts/CaviarDreams.ttf");
}


@font-face {
    font-family: "FuturaLtBTMedium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Futura-Lt-BT-Light.ttf");
}

@font-face {
    font-family: "FuturaLtMedium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Futura-lt-medium.ttf");
}

@font-face {
	font-family:  "LoraBold";
	font-style: normal;
    font-weight: normal;
    src: url("../fonts/Lora-Bold.ttf");
}

@font-face {
	font-family:  "Lora";
	font-style: normal;
    font-weight: normal;
    src: url("../fonts/Lora-Regular.ttf");
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight:300;
}

.big-text{
	font-family: "Raleway";
    font-size:3.62em;
    font-weight:300;
    line-height:62px;
    letter-spacing:0.1em;
    word-spacing: 0.15em;
    color:#3d4562;
    text-transform:uppercase;
}

.top-menu{
	font-family: "Lora";
	color: #777;
	font-size: 0.625px;
    letter-spacing: 0.063px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 0 20px;
}

.section-title{
    margin-top:-20px;
    margin-bottom: 80px;
    text-align:center;
}
.dolce {
    color: #aeaaa9;
    font-family: "FuturaLtBTMedium","Futura-Book";
    text-decoration: none;
    transition: color 0.3s ease 0s;
}



/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding-top {
    padding-top:120px;
}

/*-----------------------
----- Color Styles ------
-------------------------*/

.bg-color1{
    color:#fff;
    background:#11b2d2;
}

.bg-color2{
    color:#fff;
    background:#f58026;
}

.bg-color3{
    color:#fff;
    background:#334959;
}

.border-bottom-color2{
    border-bottom:7px solid #f58026;
}

.border-top-color2{
    border-top:7px solid #f58026;
}

.color1 .service-icon,
.color1.service-item ul li:nth-child(2):before{
    background:#11B2D2;
}

.color1 .service-icon:after{
    border:3px solid #11B2D2;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before{
    background:#F58026;
}

.color2 .service-icon:after{
    border:3px solid #F58026;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before{
    background:#334959;
}

.color3 .service-icon:after{
    border:3px solid #334959;
}

/*------------------
----- Buttons ------
--------------------*/

.btn-color1,
.btn-color2{
    padding: 10px 30px;
    color:#fff;
    font-size: 21px;
    font-weight: 300;
    background:#F58026;
    outline: none !important;
    border-radius: 0;
    transition: opacity .2s ease-out;
}

.btn-color1{
    background:#11B2D2;
}

.btn-color1:hover,
.btn-color2:hover{
    color:#fff;
    opacity: 0.9;
}

.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active{
    color:#fff;
}

.btn-color1 .fa,
.btn-color2 .fa{
    margin-right: 15px;
}

/*-----------------------
---- Preloader Styles ----
-------------------------*/
#page-loader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

#page-loader .page-loader-gif{
    display: block;
    width:64px;
    height:64px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-32px 0 0 -32px;
    background: url('../images/preloader.gif') no-repeat;
        
}

/*-----------------------
---- Logo ----
-------------------------*/
.logo-img{
	width: 10%;
	display: block;
    margin-left: auto;
    margin-right: auto
	
}
/*-----------------------
---- Menu Styles ----
-------------------------*/

#main-nav .container{
    padding:0 0 20px;
}

#main-nav .navbar-brand img{
    margin-right: 15px;
    max-width: 60px;
}

#main-nav .navbar-brand{
    display: inline-block;
    font-size:24px;
    font-weight:700;
    color: #fff;
    text-transform: uppercase;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    padding:0 10px;
    font-size:30px;
    line-height:30px;
    font-weight:normal;
    color:#fff;
}

.navbar-brand span {
    font-size:24px;
    font-weight:300;
}

#main-nav.scrolled .navbar-brand{
    color:#6d6d6d;
}

#main-nav{
    background:transparent;
    color:#fff;
    box-shadow:0 0 0px transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}

#main-nav.scrolled{
    background:transparent;
}

#main-nav.scrolled .navbar-toggle .icon-bar{
    background:#74c7d5;
}

#main-nav .container{
    padding:30px 20px;
    -webkit-transition:padding 0.5s ease-out;
    transition:padding 0.5s ease-out;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    padding:0px 10px;
    font-size:18px;
    line-height:54px;
    font-weight:400;
    background:transparent;
    color:#fff;
    transition: color .2s ease-in;
}

#main-nav.scrolled .nav a,
#main-nav.scrolled .nav a:active,
#main-nav.scrolled .nav a:hover{
    color:#6e6e6e;
}

#main-nav li{
    background:transparent;
    margin:0 10px;
    border:2px solid transparent;
}

#main-nav.scrolled .nav li.active a,
#main-nav.scrolled .nav a:hover{
    color: #f58027;
}



/*-----------------------
--- Portfolio Styles ----
-------------------------*/

#filter-works ul {
    list-style:none;
    padding:0;
    margin:0;
    margin-bottom:40px;
    text-align:center;
    
}

#filter-works ul li{
    position:relative;
    display:inline-block;
    padding:0;
    line-height:24px;
    background:transparent;
    margin:0;
    margin-left:15px;
    margin-bottom:10px;
}

#filter-works ul li:after{
    display:block;
    content:'';
    position:absolute;
    top:22px;
    right:-14px;
    width:5px;
    height:5px;
    border-radius:50%;
    background:#a0a0a0;
}

#filter-works ul li:last-child:after{
    display:none;
}

#filter-works ul li a{
    display:block;
    font-size:15px;
    line-height:28px;
    height:48px;
    text-transform:uppercase;
    padding:10px 15px;
    border-radius:48px;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
}

#filter-works ul li a,
#filter-works ul li a:active,
#filter-works ul li a:hover{
    font-weight:300;
    background:transparent;
    color:#808080;
    text-decoration:none;
}

#filter-works ul li.active a,
#filter-works ul li:hover a{
    color:#ee5f5c;
}

#projects-container {
    margin:0 auto;
}

#projects-container .project-item{
    display:block;
    position:relative;
    margin:0;
    width:10=-;
    margin-bottom:25px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1;
    filter:alpha(opacity=100);
    overflow:hidden;
    z-index:10;
	-webkit-backface-visibility: hidden;
}

#projects-container .project-item.filtered{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform:scale(0);
    opacity:0;
    filter:alpha(opacity=0);
    z-index:0;
	-webkit-backface-visibility: hidden;
}

.project-item:hover{
	cursor:pointer;
}

.project-item img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition:none;
    transition:none;
	-webkit-backface-visibility: hidden;
}

.project-item:hover img {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-transition:-webkit-transform 4s ease-in;
    transition:transform 4s linear;
}


.project-item .hover-mask {
    position:absolute;
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#ec5e5b;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.project-item:hover .hover-mask {
    opacity: .95;
    filter:alpha(opacity=95);
}

.project-item .hover-mask .project-title {
    color:#fff;
    margin:90px 0 0;
    padding:10px;
    font-size:26px;
    line-height:34px;
    font-weight:400;
    text-align:center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.project-item:hover .hover-mask .project-title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.project-item .hover-mask p {
    margin:0;
    font-size:15px;
    color:#ffffff;
    line-height:24px;
    font-weight:350;
    text-transform:uppercase;
    text-align:center;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition:all 0.3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}

.project-item:hover .hover-mask p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition:all 0.3s ease-out .2s;
    transition:all 0.3s ease-out .2s;
}



/*----------------------
----- Footer Styles ----
------------------------*/

#main-footer{
    padding-top:50px;
    padding-bottom:40px;
    background: #1f2c37;
}

.social-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

.social-links li{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a {
    display:block;
    color:#fff;
    color:rgba(255,255,255,0.3);
    font-size:21px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:rgba(0, 0, 0, 0.2);
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a:hover {
    color:#fff;
    background:#ec5e5b;
}
