
#nite-header{
    background:url('../images/nite/bg-nite.jpg') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#mouse-header{
    background:url('../images/remotemouse/bg_mouse.jpg') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#mouse-function{
    background:url('../images/remotemouse/bg_white.jpg') no-repeat fixed;
    background-size:cover;
    color:#615d5d;
}

#offer-board-header{
    background:url('../images/offerboard/bg_offerboard.jpg') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#music-dream-header{
    background:url('../images/music/bg-banner-music.png') no-repeat fixed;
    background-size:cover;
    color:#fff;
}

#nao-header{
    background:url('../images/nao/bg-nao.jpg') no-repeat fixed;
    background-size:cover;
    color:#434343;
}

#two-d-design-header{
    background-color: #fff;
    background-size:cover;
    color:#434343;
}

.mouse-prob-icon{
	
	position:relative;
    display:block;
    text-align:center;
    width:100px;
    height:100px;
    margin:0px auto;
    border-radius:50%;
    font-size:50px;
    line-height:100px;
    background:#334959;
    color:#fff;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;

}


/*-----------------------
--- Images ----
-------------------------*/
.list-image{
    width: 82%;
    margin-bottom: 20px;
}



/*-----------------------
--- About Me ----
-------------------------*/
#about_yuye .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.inline{
    display: inline;
}

.about-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ec5e5b;
    text-transform: uppercase;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

.about-major{
    font-family: "Lora", serif;
    color: #535353;
    line-height:150%;
}
.about-item-name{
    font-family: "LoraBold", serif;
    color: #000;
    line-height:150%;
}

.about-skill-title{
    font-family: 'Bitter', serif;
    color: #535353;
    line-height:150%;
}

.about-position{
    font-family: 'Bitter', serif;
    font-style: italic;
    font-weight: 400;
    color: #535353;
    line-height:150%;
}

.about-location{
    font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-weight: 150;
    color: #535353;
    line-height:150%;
}

.about-text{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #7d7d7d;
    line-height:150%;
}

.padding-none{
    padding-left: 0em;
    padding-right: 0em;
}


.about-award-num{
    font-family: "Raleway";
    font-weight: 100;
    font-size: 5em;
    line-height: 0;
    margin-top: 0.6em;
}

.about-award-num-place{
    padding-left:  60px;
}

.about-award-place{
    margin-top: 4.5em;
    margin-left: 30px;
    vertical-align: bottom;
}

#skills ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}




