head {
    display: none;
}

.no-js {
    background-color: #E4E1E2
}

body {
    width: 100%;
    height: 100%;
    background-color: lightgrey !important;
}

#wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /*margin-top: -20px;*/
}

.navbar {
    width: 79.1%;
    max-width: 1200px;
    margin: 0 auto;
}

.outside_nav {
    width: 160px;
    padding-left: 40px;
    font-size: 1.3em;
}

.navbar-nav>li>.dropdown-menu {
    margin-left: 30px;
}

.dropdown-menu li {
    text-align: center;
}

ul.nav a:hover {
    color: blue !important;
    /*background-color: red !important;*/
}

.dropdown-menu a {
}

.big_module {
    width: 60%;
    height: 400px;
    position: relative;
    float: left;
    color: black;
}

.big_module a {
    display: block;
    width: 100%;
    height: 100%;
    /*padding: 25px;*/
}

.big_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
    color: black;
    margin: 0;
}

.big_module h3 {
    /*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
    color: black;
    margin-top: -5px;
    margin-bottom: -5px;
}

.medium_module {
    width: 40%;
    height: 400px;
    padding: 0;
    float: left;
    color: black;
}

.medium_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    color: black;
}

.medium_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
    /*    color: #fff;*/
    margin: 0;
    color: black;
}

.medium_module h3 {
    /*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
    /*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
    /*color: yellow;*/
    background:rgba(217, 123, 123, 0.7);
    color: black;
}

.small_module {
    width: 100%;
    height: 200px;
    position: relative;
    box-sizing: border-box;
    float: left;
    color: black;
}

.small_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.small_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
    /*    color: #fff;*/
    margin: 0;
}

.small_module h3 {
    /*    background: red;*/
    /*float: left;*/
    /*padding: 4px 12px;*/
    /*font-size: 20px;*/
    /*line-height: 30px;*/
    /*font-weight: bold;*/
    /*font-family: "Alegreya Sans";*/
    /*    color: #fff;*/
    /*margin-top: -5px;*/
    /*margin-bottom: -5px;*/
}

.extra_small_module {
    width: 20%;
    height: 400px;
    position: relative;
    float: left;
    color: black;
}

.extra_small_module a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.extra_small_module h1 {
    float: left;
    padding: 4px 16px;
    font-size: 45px;
    font-weight: 700;
    font-family: "Alegreya Sans";
    /*    color: #fff;*/
    margin: 0;
}

.extra_small_module h3 {
    /*    background: red;*/
    float: left;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Alegreya Sans";
    /*    color: #fff;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

#about_me {
    background: url("http://i60.tinypic.com/25slrwh.jpg");
    background-size: cover;
    /*    padding-top: 80px;*/
}

#about_me_text {
    width: 280px;
    padding-top: 10px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
    background:rgba(255,255,255,0.3);
}


#portfolio_1_text h3 {
    display: none;
    font-family: Georgia;
    position: absolute;
    bottom: 10px;
    left: 350px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_2_text h3 {
    display: none;
    font-family: Georgia;
    position: absolute;
    bottom: 10px;
    left: 320px;
    text-align: left;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_3_text h3 {
    display: none;
    font-family: Georgia;
    font-weight: bold;
    top: 70px;
    left: 20px;
    text-align: left;
    width: 25%;
    background:rgba(255,255,255,0.7);
}

#portfolio_4_text h3 {
    display: none;
    font-family: Georgia;
    font-weight: bold;
    text-align: left;
    width: 25%;
    background:rgba(255,255,255,0.7);
    margin-left: 300px;
    margin-top: 290px;
}

#portfolio_5_text h3 {
    display: none;
    width: 30%;
    padding-top: 10px;
    font-family: Georgia;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: center;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_6_text h3 {
    display: none;
    width: 30%;
    padding-top: 10px;
    font-family: Georgia;
    position: absolute;
    bottom: 25px;
    left: 5px;
    text-align: center;
    font-weight: bold;
    background:rgba(255,255,255,0.7);
}

#portfolio_1 {
    background: url("../img/twitter.png");
    background-size: 100%;
}

#portfolio_2 {
    background: url("../img/cinephiles.png");
    background-size: contain;
    background-position: center;
}

#portfolio_3 {
    background: url("../img/connect4.png");
    background-size: 150%;
    background-position: center;
}

#portfolio_4 {
    background: url("../img/interviewgarden.png");
    background-size: cover;
    background-position: left;
}

#portfolio_5 {
    background: url("../img/nevernote.png");
    background-size: 110%;
    background-position: top;
}
#portfolio_6 {
    background: url("../img/craigslist.png");
    background-size: 110%;
    background-position: top;
}

#gallery {
    background: url("../img/gallery.png");
    background-size: 103%;
}

#gallery_text h3 {
    display: none;
    width: 15%;
    padding-top: 5px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-align: left;
    /*background-color: red;*/
    background:rgba(255,255,255,0.7);
}

#portfolio_7 {
    background: url("../ourHouse/images/screenshot1.png");
    background-size: 100%;
    background-position: center;
    /*background-repeat: no-repeat;*/
}

#portfolio_7_text h3 {
    display: none;
    width: 40%;
    padding-top: 5px;
    font-family: Georgia;
    font-weight: bold;
    position: absolute;
    margin-top: 300px;
    margin-left: 110px;
    text-align: center;
    background:rgba(255,255,255,0.7);
    color: black;
}

/*Gallery Page*/
#gallery_content {
    width: 1191px;
    height: 1606px;
    background: url("../img/gallery.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

#gallery_body {
    background-color: black;
}

#gallery_content a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

#back {
    color: white;
    padding-left: 30px;
}

/*About page*/
.about_text p, #about_title {
    width: 80%;
    padding-left: 30px;
    font-size: 1.5em;
    font-family: 'Alegreya Sans', sans-serif;
    color: red;
    text-align: center;
}

#about_page {
    background: url("../img/about.jpg");
    background-size: cover;
}

.social {
    position: fixed;
    top: 50%;
    left: 20%;
    margin-top: -50px;
    margin-left: -100px;
}

.social a {
    margin-left: 100px;
    margin-right: 100px;
    width: 50px;
    height: 50px;
}

#contact_body {
    background-image: url('../img/berkeley.jpg');
    background-size: cover;
}

#portfolio_1:hover h3, #portfolio_2:hover h3, #portfolio_3:hover h3, #portfolio_4:hover h3, #portfolio_5:hover h3, #portfolio_6:hover h3, #portfolio_7:hover h3, #gallery:hover h3 {
    display:block;
}