head {
    display: none;
}

body {
    background: #e4e1e2;
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

div {
    border: 1px solid;
    border-color: black;
}

.navigation_bar {
    position: fixed;
    z-index: 3;
}

.navigation ul {
    overflow: hidden;
}

.navigation_bar #logo {
    position: fixed;
    width: 65px;
    background: url("http://i62.tinypic.com/v477ew.png");
    background-size: contain;
    z-index: 2;
}

.nagigation_bar #logo.hover {
    cursor: pointer;
}

.navigation_bar .navigation_bar_button.first {
    margin-left: 65px;
}

.navigation_bar .navigation_bar_button {
    float: left;
    position: relative;
    background-color: #fff;
    margin-left: 0;
    -webkit-transition: background-color, margin-left 0.5s;
    -moz-transition: background-color, margin-left 0.5s;
    -o-transition: background-color, margin-left 0.5s;
    transition: background-color, margin-left 0.5s;
}

.navigation_bar .navigation_bar_button:hover {
    background-color: blue;
}

.navigation_bar li {
    height: 65px;
    list-style-type: none;
}

.navigation_bar .navigation_bar_button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 22px 40px 0;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: blue;
    text-decoration: none;
    -webkit-transition: color;
    -moz-transition: color;
    -o-transition: color;
    transition: color;
}

.navigation_bar .navigation_bar_button a:hover {
    color: #fff;
}

#about_me {
    background: url("#");
    background-size: cover;
    padding-top: 80px;
}

.big_module {
    width: 59%;
    height: 400px;
    position: relative;
    float: left;
}

.medium_module {
    width: 39%;
    height: 400px;
    padding: 0;
    float: left;
}

.small_module {
    width: 100%;
    height: 200px;
    position: relative;
    box-sizing: border-box;
    float: left;
}

.extra_small_module {
    width: 19%;
    height: 400px;
    position: relative;
    float: left;
}
